
  <div class="row"> 
    <div class="col-md-3">
      <div>
        

        <div class="mtab" (click)=SelectCategory(data) [ngStyle]="{'background-color': data === selectedCategory ? 'silver' : '' }" *ngFor="let data of categories">
            <ul>
              <li>
           {{data.name}}
           </li>
          </ul>
        </div>
      
      </div>
    </div>
    <div class="col-md-9">
        <div class="container-fluid">

            <div class="row" style="margin-left: 0px;margin-bottom: 10px;">
          
              <form class="questions-form">
                <mat-form-field class="questions-full-width">
                  <input matInput placeholder="Ваш вопрос..." [(ngModel)]=Row.name name="first">
                </mat-form-field>
              </form>
              <button mat-raised-button color="primary" (click)=AddQuestion()>Додати</button>
          
            </div>
      <table class=".table-striped">
        <thead>
          <tr>
            <th>Номер</th>
            <th>Питання</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of selectedCategory.questions index as i">
            <td>{{i}}</td>
            <td>{{data.name}}</td>
            <td>
              <button class=" delButt" (click)=RemoveItem(data)> - </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</div>