<div class="container-fluid">

  <div class="row">

    <form class="questions-form">
      <mat-form-field class="questions-full-width">
        <input matInput placeholder="Ваш вопрос..." [(ngModel)]=Row.name name="first">
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)=AddQuestion()>Додати</button>

  </div>
  <div class="row"> 
    <div class="col-md-3">
      <div>
        <div (click)=SelectCategory(data) [ngStyle]="{'background-color': data === selectedCategory ? 'green' : '' }" *ngFor="let data of categories">
           {{data.name}}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h2>Basic Table</h2>
      <table class=".table-striped">
        <thead>
          <tr>
            <th>Номер</th>
            <th>Питання</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of selectedCategory.questions">
            <td>{{data.position}}</td>
            <td>{{data.name}}</td>
            <td>
              <button (click)=RemoveItem(data)> - </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


</div>